body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Daha modern bir yazı tipi */
    background-color: #f4f4f4; /* Arka plan rengi */
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Yumuşak gölge */
    overflow-y: auto;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    padding: 10px;
    transition: background-color 0.3s;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s; /* Geçiş efekti */
}

#sidebar ul li:hover {
    background-color: #555;
}

#sidebar ul li a:hover {
    color: #ffc107; /* Değiştirilen link rengi */
}
#sidebar ul li.active {
    background-color: #555;
}


#content {
    margin-left: 220px; /* Adjust according to sidebar width */
    padding: 20px;
    background-color: #fff; /* İçerik alanının arka plan rengi */
    border-radius: 10px; /* Yuvarlatılmış köşeler */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Yumuşak gölge */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: calc(100% - 22px); /* Formun genişliği - padding * 2 */
    box-sizing: border-box; /* Padding hesaba katılsın */
}

input[type="file"]:hover {
    background-color: #e0e0e0;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Resimler arasında 20 piksel boşluk */
}


.image-container img {
    max-width: 100%;
    height: 200px; /* İstenilen boyuta ayarlayabilirsiniz */
    object-fit: cover; /* Resmin boyutunu koruyarak kaplamasını sağlar */
    cursor: pointer;
}
.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c82333;
}

/* İlgili linkin üstüne silme düğmesini hareket ettir */
.image-container a:hover .delete-button {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
